@font-face {
	font-family: 'Graphik LCG';
	src: url('../fonts/GraphikLCG-Medium.woff2') format('woff2'),
		url('../fonts/GraphikLCG-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
		url('../fonts/Gilroy-Regular.woff') format('woff');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
		url('../fonts/Gilroy-ExtraBold.woff') format('woff');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
		url('../fonts/Gilroy-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Gilroy', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

.main-content {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222020;
}

.tile-content {
  padding-left: 80px;
  padding-right: 80px;
	margin: 0 auto;
}

.tile {
	height: 505px;
	width: 480px;
	margin: 60px;
}

.heading {
  color: white;
  font-family: "Graphik LCG", sans-serif;
  margin-bottom: 30px;
}

.download_link {
	padding: 20px;
	color: white;
	background-color: #2f1ce4;
	border: 3px solid  #2f1ce4;
}

.nav_link {
	padding: 20px;
	color: white;
	background-color: transparent;
	border: 3px solid white;
}

.container {
	width: 1180px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
}

.nav-back {
  padding-left: 25px;
  background-image: url("../img/return.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.header {
  margin-top: 100px;
  padding-left: 100px;
  font-size: 48px;
  color: #222020;
}

.tile-header {
  margin-top: 100px;
  margin-bottom: 80px;
	padding-left: 20px;
	font-size: 48px;
	color: #222020;
}

h3 {
  padding-left: 180px;
  font-size: 36px;
  color: #2f1ce4;
  margin-top: 100px;
  margin-bottom: 25px;
}

.tile-h3 {
  margin-top: 210px;
  font-size: 36px;
  color: #2f1ce4;
  padding-left: 60px;
}

.list {
  padding-left: 200px;
  font-size: 18px;
}

p {
  padding-left: 180px;
  margin-bottom: 20px;
}

.table {
  margin-top: 100px;
  border-collapse: collapse;
}

.table td, .table th {
  border: 1px solid #000;
  padding: 5px;
}

.image {
  display: inline-block;
  padding-left: 200px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

img {
  max-width: 300px;
}

.title {
	font-family: "Graphik LCG", medium;
  font-size: 40px;
  margin-bottom: 30px;
}

.cards {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0px;
}

.card {
  display: inline-block;
  height: 505px;
  width: 480px;
  margin-bottom: 60px;
  margin-right: 60px;
  vertical-align: middle;
  position: relative;
  background-size: 100% 180px;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 10px 6px #e3e3e3;
}

.card-right {
  margin-right: 0px;
}

.card1-image {
  background-image: url(../img/tile01.jpeg);
}

.card2-image {
  background-image: url(../img/tile02.jpeg);
}

.card3-image {
  background-image: url(../img/tile03.jpeg);
}

.card4-image {
  background-image: url(../img/tile04.jpeg);
}

.list-in-card {
  padding-left: 60px;
  list-style-type: none;
  font-size: 16px;
  line-height: 2em;
}

.number-in-cards {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-family: 'Gilroy', medium;
  font-size: 48px;
  color: #eaeaea;
}

.button-under-cards {
  text-align: center;
}

.btn {
  width: 300px;
  font-family: 'Gilroy', Regular;
  font-size: 18px;
  padding: 20px;
	color: #2f1ce4;
	background-color: transparent;
	border: 3px solid #2f1ce4;
}

.body-wave {
  background-image: url(../img/wave.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 600px;
}